n8n_workflows/DeepfakeDetector.json
{
  "name": "Deepfake Detector",
  "nodes": [
    {
      "parameters": {},
      "id": "Manual Trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url",
              "value": "http://example.com/media.jpg"
            }
          ]
        }
      },
      "id": "Set Media URL",
      "name": "Set Media URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5001/detect",
        "responseFormat": "json",
        "options": {},
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\"url\": \"={{$json[\\\"url\\\"]}}\"}"
      },
      "id": "Detect Deepfake",
      "name": "Detect Deepfake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        200
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Media URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Media URL": {
      "main": [
        [
          {
            "node": "Detect Deepfake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "deepfake_detector"
}